// menu-icon
.acconut-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/account-icon.svg');
    background-size: cover;
}

.hr-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/hr-icon.svg');
    background-size: cover;
}

.master-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/master-icon.svg');
    background-size: cover;
}

.employee-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/employee-icon.svg');
    background-size: cover;
}

.incident-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/insedent-icon.svg');
    background-size: cover;


}

.setting-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/setting-icon.svg');
    background-size: cover;

}

.maintence-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/maintance-icon.svg');
    background-size: cover;

}

.inspection-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/inspection-icon.svg');
    background-size: cover;

}

.fleet-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/fleet-icon.svg');
    background-size: cover;

}

.vessel-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/verssel-icon.svg');
    background-size: cover;

}

.vessel-logo {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/vesselLogo.png');
    background-size: cover;

}

.dms-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/dms-icon.svg');
    background-size: cover;

}

.payroll-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/payroll-icon.svg');
    background-size: cover;

}

.Search-icon {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/search-icon.svg');
    background-size: cover;
}

.backBtn {
    width: 23px;
    height: 23px;
    background-image: url('../layout/images/backBtn.svg');
    background-size: cover;
}

.vesselCreate {
    width: 22px;
    height: 20px;
    background-image: url('../layout/images/cargo-ship.svg');
    background-size: cover;
    border-radius: 4px;
}

.vesselReportView {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/report.png');
    background-size: cover;
}

.vesselReportCreate {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/search.png');
    background-size: cover;
}

.formsAndCheckListCreate {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/formCheck.png');
    background-size: cover;
}

.viewVessel {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/ship.png');
    background-size: cover;
}

.activeEmpoyee {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/employeeactive.png');
    background-size: cover;
}

.employeedeactive {
    width: 24px;
    height: 24px;
    background-image: url('../layout/images/employeedeactive.png');
    background-size: cover;
}

.canceli {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/canceli.svg');
    background-size: cover;
}

.savei {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/savei.svg');
    background-size: cover;
}

.assigni {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/assigni.svg');
    background-size: cover;
}

.closei {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/closei.svg');
    background-size: cover;
}

.editi {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/editi.svg');
    background-size: cover;
}

.updatei {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/updatei.svg');
    background-size: cover;
}

.cleari {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/cleari.svg');
    background-size: cover;
}

.nexti {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/nexti.svg');
    background-size: cover;
}

.saveCi {
    width: 28px;
    height: 28px;
    background-image: url('../layout/images/saveCi.svg');
    background-size: cover;
}

.satActiveImg {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-image: url('../layout/images/activeStat.svg');
    background-size: cover;
}



.checkSave {
    width: 18px;
    height: 18px;
    background-image: url('../images/checkSave.svg');
    background-size: cover;
}

.checkUpload {
    width: 18px;
    height: 18px;
    background-image: url('../images/checkUp.svg');
    background-size: cover;
}

.checkDelete {
    width: 18px;
    height: 18px;
    background-image: url('../images/checkDel.svg');
    background-size: cover;
}

.checkLog {
    width: 18px;
    height: 18px;
    background-image: url('../images/checkLog.svg');
    background-size: cover;
}

.d-none {
    display: none !important;
}

.notVisible {
    opacity: 0;
}

.d-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.margin-bottom8 {
    margin-bottom: 8px !important;
}

.margin-left-4 {
    margin-left: -4px;
}

.margin-bottom60 {
    margin-bottom: 60px;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.p-inputnumber {
    width: 100%;
    height: 34px;
}

.paddingtopbottom {
    padding: 8px 0px !important;
}

.customer-badge {
    border-radius: 3px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.customer-badge.status-Expired {
    background: #FFCDD2;
    color: #c63737;
}

.customer-badge.status-Active {
    background: #C8E6C9;
    color: #256029;
}

.labelSec {
    margin-bottom: 5px;
    display: block;
}

.marginBtm0P {
    margin-bottom: 0px !important;
}

.d-flex-spaceBet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;
}

.p-frozen-column {
    position: sticky;
    background: inherit;
    left: 0;
}

.agAction {
    position: relative;
    cursor: pointer;
    transition: all 4s ease-out;

    &:hover {
        .action {
            opacity: 1;

            .widthAuto {
                .edit {
                    i {
                        color: #ffffff !important;
                    }
                }
            }

        }

        .ctrlBtn {
            cursor: pointer;
            border: 1px solid #fff;
        }

        svg {
            circle {
                fill: #ffffff;
            }
        }
    }

    .ctrlBtn {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #ebedf3;
        border: none;
        outline: 0;

    }

    .action {
        position: absolute;
        bottom: -5px;
        left: 50px;
        opacity: 0;
        height: 38px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 2px 6px #ab9d9d;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            cursor: pointer;
        }

        &.widthAuto {
            width: auto !important;
            background-color: #9fcaf0 !important;
            padding: 0px 8px !important;

            .edit {
                display: flex;
                align-items: center;
                column-gap: 6px;

                i {
                    color: #ffffff !important;
                    cursor: pointer;
                }
            }

            &::after {
                background-color: #9fcaf0 !important;
            }
        }

        &.inlineSec {
            display: flex;
            flex-direction: row !important;
            column-gap: 10px;
        }

        &.actionList {
            flex-direction: column;
            height: auto !important;
            // left:10px!important;
            bottom: 0px !important;
            width: 34px;
            margin: 0;
            padding: 0;

            .activeView {
                margin: 0px;
            }

            .pi {
                font-size: 12px;
            }

            &:hover {
                background-color: #9fcaf0;

                .edit {
                    span {
                        color: #fff;
                    }
                }

            }
        }

        &.actionEmp {
            left: 10px !important;

            &:hover {
                background-color: #ffffff;
            }
        }

        &::after {
            position: absolute;
            content: "";
            width: 13px;
            position: absolute;
            left: -9px;
            bottom: 10px;
            height: 18px;
            background-color: #fff;
            clip-path: polygon(100% 100%, 100% 0, 0 50%);
        }

        .edit {
            border-radius: 4px;
            font-size: 12px;
            text-align: center;
            position: relative;
            padding: 4px 0px;
            color: #2D2D2D;

            &:hover {

                .Hoverspan {
                    opacity: 1;
                }
            }

            .Hoverspan {
                opacity: 0;
                position: absolute;
                bottom: -20px;
                border-radius: 4px;
                background-color: rgb(76, 78, 79);

                color: #ffffff;
                font-size: 10px;
                font-family: 'Open Sans';
                z-index: 9;
                padding: 4px 6px;
                border: 1px solid #fff;
                box-shadow: 0px 2px 6px rgb(155, 154, 154);
            }

            button {
                cursor: pointer;

            }
        }

        .delete {
            border-radius: 4px;
            font-size: 12px;
            text-align: center;
            position: relative;
            padding: 4px 0px;
            color: #2D2D2D;

            &:hover {

                .Hoverspan {
                    opacity: 1;
                }
            }

            .Hoverspan {
                opacity: 0;
                position: absolute;
                bottom: -20px;
                border-radius: 4px;
                background-color: rgb(76, 78, 79);

                color: #ffffff;
                font-size: 10px;
                font-family: 'Open Sans';
                z-index: 9;
                padding: 4px 6px;
                border: 1px solid #fff;
                box-shadow: 0px 2px 6px rgb(155, 154, 154);
            }

            button {
                cursor: pointer;

            }
        }

        .activeView {
            border-radius: 4px;
            font-size: 12px;
            text-align: center;
            padding: 4px 0px;
            position: relative;
            color: #2D2D2D;
            margin-left: 10px;

            button {
                color: #fff !important;
            }

            &:hover {

                .Hoverspan {
                    opacity: 1;

                }


            }

            .Hoverspan {
                opacity: 0;
                position: absolute;
                bottom: -20px;
                box-shadow: 0px 2px 6px rgb(155, 154, 154);
                z-index: 9;
                border-radius: 4px;
                background-color: rgb(76, 78, 79);

                color: #ffffff;
                font-size: 10px;
                padding: 4px 6px;
                border: 1px solid #fff;
                font-family: 'Open Sans';
            }


        }

        .view {
            border-radius: 4px;
            font-size: 12px;
            text-align: center;
            padding: 4px 0px;
            position: relative;
            color: #2D2D2D;

            button {
                color: #fff !important;
            }

            &:hover {

                .Hoverspan {
                    opacity: 1;

                }


            }

            .Hoverspan {
                opacity: 0;
                position: absolute;
                bottom: -20px;
                box-shadow: 0px 2px 6px rgb(155, 154, 154);
                z-index: 9;
                border-radius: 4px;
                background-color: rgb(76, 78, 79);
                color: #ffffff;
                font-size: 10px;
                padding: 4px 6px;
                border: 1px solid #fff;
                font-family: 'Open Sans';
            }


        }
    }
}

.backgroundTr {
    background-color: transparent !important;
}

.mandatory::after {
    content: " *";
    color: #e32;
    position: absolute;
    margin: 0px 0px 0px 6px;
    font-size: large;
    padding: 0 5px 0 0;
}

.btnEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.opacityZero {
    opacity: 0;
}

.borderRd {
    border: 1px solid #dedcdc;
    border-radius: 4px;
}

.bg-color {
    background-color: #F4F4F4;
    ;
}

.resizeNon {
    resize: none !important;
}

.paddingZero {
    padding: 0px !important;
}

@media (max-width: 745px) {
    .headerTop .leftSec {
        align-items: center !important;
        justify-content: flex-start;
        flex-direction: row !important;
        row-gap: 6px;
        flex-wrap: wrap !important;
        display: flex;
    }
}

.tooltip {
    white-space: nowrap !important;
    z-index: 9999999999 !important;
}

:host ::ng-deep .tooltip {
    white-space: nowrap !important;
    z-index: 9999999999 !important;
}

:host ::ng-deep .p-tooltip {
    z-index: 9999999999 !important;
}

@media (max-width: 745px) {
    .grid {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
}

@media not all and (min-resolution:.001dpcm) {
    .topBarDashboard .topNav .topRight div {
        margin-right: 20px;

    }

    .p-tooltip .p-tooltip-text {
        white-space: nowrap !important;
        padding: 8px 10px;
    }

    .tooltip {
        white-space: nowrap !important;
    }

    :host ::ng-deep .tooltip {
        white-space: nowrap !important;
    }

    .p-button.p-button-icon-only.p-button-rounded .pi {
        transform: translateY(-2px);
    }

    .topBarDashboard .topNav .topRight a {
        margin-right: 20px;

    }

    :host ::ng-deep .p-inputswitch-slider {
        background: #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 30px;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }

    .p-inputswitch-slider {
        background: #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 30px;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }

    .p-inputtext {
        height: 36px !important;
    }

    :host ::ng-deep .p-inputtext {
        height: 36px !important;
    }

    .p-button {
        height: 36px !important;
    }

    :host ::ng-deep.p-button {
        height: 36px !important;
    }
}

:host ::ng-deep .p-inputswitch-slider {
    background: #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.p-inputswitch-slider {
    background: #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

@media not all and (-webkit-min-device-pixel-ratio: 0),
not all and (min-resolution: 0.001dpcm) {
    .topBarDashboard .topNav .topRight .frofile .userDropMess .userDrop .nameArea .nameCode svg {
        margin-right: 8px;
    }

    .p-tooltip .p-tooltip-text {
        white-space: nowrap !important;
        padding: 8px 10px;
    }

    .p-button.p-button-icon-only.p-button-rounded .pi {
        transform: translateY(-2px);
    }

    .tooltip {
        white-space: nowrap !important;
    }

    :host ::ng-deep .tooltip {
        white-space: nowrap !important;
    }

    .p-inputtext {
        height: 36px !important;
    }

    .p-button {
        height: 36px !important;
    }

    :host ::ng-deep.p-button {
        height: 36px !important;
    }

    :host ::ng-deep .p-inputtext {
        height: 36px !important;
    }

    .companyInput {
        border: none;
        border-bottom: 1px solid #E2E5E9;
        border-radius: 0px;

        &::placeholder {
            font-size: 12px;
            color: #dad7d7;
            font-weight: 500;
        }
    }

    .layout-wrapper .layout-sidebar .layout-menu>li.active-menuitem>a :focus {
        outline: none !important;
        border: none !important;
    }

    .topBarDashboard .topNav .topRight div {
        margin-right: 20px;

    }

    .topBarDashboard .topNav .topRight a {
        margin-right: 20px;

    }

    .p-inputswitch {
        width: 3rem;
        height: 1.75rem;
        position: relative;
        display: inline-block;
        -webkit-user-select: none;
        user-select: none;
    }

    .p-component {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        font-weight: normal;
    }

    .p-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .p-hidden-accessible input,
    .p-hidden-accessible select {
        transform: scale(0);
    }

    .p-inputswitch {
        width: 3rem;
        height: 1.75rem;
    }

    :host ::ng-deep .p-inputswitch .p-inputswitch-slider {
        background: #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 30px;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }

    .p-inputswitch-slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }

    .topBarDashboard .topNav .topRight .frofile .userDropMess .logoutSec .rightSec svg {
        margin-right: 8px;
    }

    .topBarDashboard .topNav .topRight .frofile .userDropMess .logoutSec .leftSec svg {
        margin-right: 8px;
    }

    .p-timeline {
        max-height: 480px;
        overflow-y: auto;
        height: 100%;

        &::-webkit-scrollbar {
            width: 4px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;

        }

        &::-webkit-scrollbar-thumb {
            background: #aeaeae;
            cursor: pointer;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555;
            cursor: pointer;
        }

    }

    .p-inputswitch .p-inputswitch-slider:before {
        background: #ffffff;
        width: 1.25rem;
        height: 1.25rem;
        left: 0.25rem;
        margin-top: -0.625rem;
        border-radius: 50%;
        transition-duration: 0.2s;
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        transform: translateX(1.25rem);
    }

    .p-inputswitch.p-focus .p-inputswitch-slider {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #a6d5fa;
    }

    .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
        background: #b6bfc8;
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: #5774F1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        background: #ffffff;
    }

    .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
        background: #0d89ec;
    }

    .p-inputswitch.ng-dirty.ng-invalid>.p-inputswitch {
        border-color: #f44336;
    }

    .layout-wrapper .layout-sidebar .layout-menu>li.active-menuitem>a:focus-visible {
        border: none !important;
        outline: none !important;
    }

}


.Full404 {
    padding-top: 0px !important;
}

.margin-top60px {
    margin-top: 60px;

    @media (max-width: 1024px) {
        margin-top: 0px;
    }
}





:host ::ng-deep .p-calendar .p-datepicker {
    left: -50px !important;
}

.confirm-popup {
    .labelSec {
        text-align: center;
    }
}

.d-block {
    display: block;
}


.p-paginator {
    button {
        @media (max-width: 480px) {
            height: 20px !important;
            font-size: 12px;
            min-width: 20px !important;
        }

    }
}

.p-timeline {
    max-height: 480px;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
        width: 4px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;

    }

    &::-webkit-scrollbar-thumb {
        background: #aeaeae;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        cursor: pointer;
    }

}

.p-dropdown-item {
    white-space: unset !important;
}

.contactNo {
    .p-element {
        .p-dropdown {
            .p-dropdown-trigger {
                margin-right: -6px;
            }

        }
    }

}


li {
    i {
        margin-left: 10px;
    }
}



:host ::ng-deep {
    .p-tooltip .p-tooltip-text {
        width: fit-content !important;

    }
}


.topBtnPro {
    padding: 0px 10px;
    margin-top: 4px !important;

    i {
        padding: 0;
        margin: 0;
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }

        svg {
            &:hover {
                path {
                    fill: #fff;
                }

                rect {
                    fill: #0080ff;
                }
            }
        }
    }

    li {
        margin: 0;
        padding: 0;

        i {
            padding: 0;
            margin: 0;
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }

            svg {
                &:hover {
                    path {
                        fill: #fff;
                    }

                    rect {
                        fill: #0080ff;
                    }
                }
            }
        }
    }
}

:host ::ng-deep .p-datatable {

    position: relative;

    z-index: 0;

}

.p-datatable {

    position: relative;

    z-index: 0;

}

.grid-item-pdf {
    display: grid !important;

    .listItem {
        margin-right: 0px !important;
        margin-bottom: 0px !important;
    }
}

.p-dialog-mask.p-component-overlay {
    pointer-events: auto;
    z-index: 99999999 !important;
    top: 0px !important;
}

.justify {
    justify-content: space-between;
    row-gap: 8px;

    @media (max-width:723px) {
        justify-content: flex-start;
    }
}

.assignLog {
    display: flex;
    align-items: center;
    column-gap: 6px;

}

.p-overlay {
    z-index: 99999999 !important;
}

.topBar .p-inputtext {
    color: #fff !important;
}

.p-dropdown-filter-container .p-inputtext {
    color: #2d2d2d !important;
}

.topBar .p-dropdown-trigger {
    position: relative !important;
}
