@import "../../../../../assets/web/mixin";
.vendorDashBoard {
    padding: 12px 0px;
    .dashboardCardContainer {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px 0px;

        .dashCards {
            // width: 243px;
            height: auto;
            border: 1px solid #e5e5e5;
            border-radius: 7px;
            padding: 16px 18px;
            display: flex;
            justify-content: space-between;
            color: #fff;
            .icon-span {
                background-color: #fff;
                border-radius: 7px;
                padding: 9px 9px 4px;
            }
            .rating {
                border: 1px solid #fff;
                border-radius: 32px;
                font-size: 11px;
                padding: 2px 6px;
            }
            .dashcardHead {
                font-size: 14px;
            }
            .dashcardBody {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 12px;
                .number {
                    font-size: 32px;
                    font-weight: 700;
                }
            }
        }
        .dashCards-one {
        background: linear-gradient(74deg, #4285F4 -0.7%, #95BDFF 98.23%);
        }
        .dashCards-two {
            background: linear-gradient(74deg, #FBBC05 6.17%, #FFD867 101.69%);
            }
    .dashCards-three {
        background: linear-gradient(75deg, #34A853 1.8%, #5ADC7D 98.95%);
        }
    .dashCards-four {
        background: linear-gradient(74deg, #EB4335 0.33%, #FFA79F 98.73%);
        }
    .dashCards-five {
        background: linear-gradient(74deg, #8642F4 -0.7%, #EABCFF 98.23%);
        }
        .dashCards-six {
            background: linear-gradient(74deg, #05CFFB 6.17%, #83F8FF 101.69%);
            }
        .dashCards-seven {
            background: linear-gradient(74deg, #EB4335 0.33%, #FFA79F 98.73%);
            }
        
    }
    .dashBoardBody {
        margin-top: 20px;
        .togglesec {
            // max-width: 790px;
            width: 100%;
            height: auto;
            border-radius: 8px;
            // position: absolute;
            // top:56px;
            // left: 46px;
            // z-index: 111;
            background-color: #ffff;
            box-shadow: 3px 0px 5px #e6e4e4, -3px 0px 5px #e6e4e4,
                0px 5px 5px #e6e4e4;
            margin-bottom: 10px;
            padding: 16px;
            .labelSec {
                font-weight: 600;
            }
        }
        .sec-head {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 15px;
            padding: 8px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px 8px;
            //    position: relative;

            .searchgrp {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 4px;
                @include breakpoint(mx480) {
                    flex-wrap: wrap;
                }
            }
            .sec-headLeft {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px 8px;
                .heading {
                    font-weight: 600;
                }
            }
        }
    }
}
:host ::ng-deep {
    .p-tabview .p-tabview-panels {
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        padding: 16px !important;
    }
    .p-tabview .p-tabview-nav {
        border: none !important;
    }
    .sec-headLeft .p-inputtext {
        width: 290px;
        height: 36px;
        @include breakpoint(mx680) {
            width: 200px;
        }
        @include breakpoint(mx375) {
            width: 130px;
        }
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background: none !important;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background-color: rgba(227, 233, 255, 0.96) !important;
    }
    
}
.arowdown {
    svg {
        transform: rotate(180deg);
        g {
            fill: #4854e8;
        }
    }
}
.steps {
    gap: 12px;
    position: relative;
}
.status-rounded {
    width: 40px;
    height: 40px;
    background-color: #34B752;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-complete {
    background-color: #ECFBEF;
    color: #34B752;
    display: flex;
    font-weight: 500;
    padding: 5px 26px;
    border-radius: 50px;
}
.step-num {
    color: #707070;
    font-size: 13px;
    font-weight: 400;
    
}
.step-title {
    font-weight: 700;
    font-size: 14px;
    color: #2D2D2D;
}
.border-line {
    position: absolute;
    width: 92%;
    height: 5px;
    background: #34B752;
    top: 18px;
    right: 0;
    display: block;
}

.step2 {
    .status-rounded {
background-color: #5774F1;
    }
    .border-line {
        background-color: #DDDDDD;
      
    }
    .border-line::after {
        position: absolute;
        content: "";
        height: 5px;
        width: 50%;
        background-color: #5774F1;
    }
.step-title {
    color: #5774F1;
}
.status-complete {
    color: #5774F1;
    background: #ECEDFC;
}
}
.step3 {
    .status-rounded {
        background-color: #FAFAFA;
            }
    .step-num {
        color: #DDDDDD;
    }
    .step-title {
        color: #DDDDDD;
    }
    .status-complete {
        color: #DDDDDD;
        background: #F5F5F5;
    }
    }
    .dashBoardBody ,.dashboardCardContainer {
        border: 1px solid #DBDDE3;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.05));
        border-radius: 5px;
        padding: 20px 24px;
    }
    .step-main-title {
        h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 40px;
        }
    }