




    <div class="main-back-img" style="background-image: url(assets/images/404-back.png)" >
        <div class="main-Content">
            <div class="content">
                 <div class="left-Content">
                    <div class="l-content">
                        <div class="header-l">
                            Oops! This page 
                            could not be found
                        </div>
                        <div class="sub-Content">
                            The page you’re looking for isn’t available.<br>
                            Try to search again or use the Go to Dashboard button below.                        </div>
                            <div class="buttonRow">
                                <button type="button" class="ForCmnBtn"  [routerLink]="['/web']" [queryParams]="{menu_id:102,f_id:501,action:701}"> Go to Dashboard</button>
                            </div>
                    </div>
                 </div>
                 <div class="right-Content">
                    <img src="assets/images/404-img.png" alt="404"/>
                 </div>
            </div>
        </div>
    </div>