




<div class="main-back-img" style="background-image: url(assets/images/404-back.png)" >
    <div class="main-Content">
        <div class="content">
             <div class="left-Content">
                <div class="l-content">
                    <div class="header-l">
                        Oops! You don't have permission to access this resource
                    </div>
                    <div class="sub-Content">
                        The page you’re looking for isn’t accessible due to permission issue.<br>
                     </div>
                        <div class="buttonRow">
                            <button type="button" class="ForCmnBtn" (click)="GotoBack()">Go Back</button>
                            <button type="button" class="ForCmnBtn" (click)="GotoDashboard()">Go to Dashboard</button>
                        </div>
                </div>
             </div>
             <div class="right-Content">
                <img src="assets/images/403.png" alt="403"/>
             </div>
        </div>
    </div>
</div>